 <div class="input-group"> 
  <%= form_for @user do |f| %>
    <%= render 'shared/error_messages' %>
    <p>
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control" %>
    </p>
    <p>
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control" %>
    </p>
    <p>
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
    </p>
    <p>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </p>
    <p>
      <%= f.label :avatar %>
      <%= f.file_field :avatar, class: "form-control" %>
    </p>
    <br>
    <%= f.submit yield(:button_text), class: "btn btn-warning" %>
  <% end %>
</div>