<% @user ||= current_user %>

<section class="user_info">
  <%= link_to @user do %>
    <h1><%= full_name @user %></h1>
  <% end %>
  <%= image_tag @user.avatar.url(:avatar) unless @user.avatar.blank? %>
  <br>
  <% if current_user?(@user) %>
    <%= link_to "Edit profile", edit_user_path(current_user), class: "btn btn-default" %>
  <% else %>
    <%= render "follow_form" if logged_in? %>  
  <% end %>
</section>

<section class="friends">
  <% @user.followers.order("RANDOM()").limit(8).each do |follower| %>
    <%= link_to follower do %>
      <%= image_tag follower.avatar.url, size: "50", alt: full_name(follower) %>
    <% end %>
  <% end %>
  <br>
  <a href="<%= followers_user_path(@user) %>" class="btn btn-default">
    All <%= @user.followers.count %> followers
  </a>
</section>

<section class="gallery">
  <% @user.gallery.order("RANDOM()").limit(8).each do |post| %>
    <%= image_tag post.image.url, height: "50" %>
  <% end %>
  <br>
  <a href="<%= gallery_user_path(@user) %>" class="btn btn-default">
    Gallery
  </a>
</section>
