<% @user ||= current_user %>

<section class="user_info">
  <%= link_to @user do %>
    <h1><%= full_name @user %></h1>
  <% end %>
  <%= image_tag @user.avatar.url(:avatar) unless @user.avatar.blank? %>
  <br>
  <% if current_user?(@user) %>
    <%= link_to "Edit profile", edit_user_path(current_user), class: "btn btn-default" %>
  <% else %>
    <%= render "users/follow_form" %>
  <% end %>
</section>

<section class="friends">
  <a href="<%= following_user_path(@user) %>">
    <%= @user.following.count %> following
  </a>
  <br>
  <a href="<%= followers_user_path(@user) %>">
    <%= @user.followers.count %> followers
  </a>
</section>

<section class="galery">
  <p>class="galery" Тут будуть мініатюри картин в галереї</p>
</section>

<section class="post_form">
  <p>class="post_form" Форма для створення посту</p>       
</section>
